<div class="hw-inherit flex">
    <div class="h-inherit w-third flex-ctr bg-theme-grad">
        <a class="hexagon-wrapper" href="/employees/register">
            <div class="hexagon">
                <i>Register</i>
            </div>
        </a>
    </div>

    <div class="grid-1x2-gap3 grow1">
        <div class="flex-TTB-alignCtr p2">
            <div class="plane main">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <h1 class=" txt-deepskyblue">NAVVIA</h1>
        </div>
    </div>





</div>



