<div class="cover-screen flex-ctr bg-grey" id="log_in_div">
    <form method="POST" action="/users/log_in" class="grid-1col-gap1 bg-black p9" autocomplete="off">

        <input type="email" name="email" class="xxlg p-5" placeholder="Email" pattern="^[\w.]{2,30}@[a-z]{2,11}\.[a-z]{2,4}$" title="Enter a valid email" required />

        <input type="password" name="password" class="xxlg" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\w{8,30}$"
               title="8 alphanumeric characters required with at least 1 uppercase, 1 lowercase, and  1 digit" required/>

        <div class="flex-spaceEvenly">
            <button class="xxlg luminous">Submit</button>
            <a href="/">
                <button class="xxlg luminous-red" type="button">Cancel</button>
            </a>
        </div>
    </form>
</div>