
<div class="fill-screen flex-ctr bg-theme-grad">
    <form action="/employees/register" method="POST" class="bg-white">
        <fieldset class="grid-2x0-gap1 p3">
            <input type="text" name="forename" class="xlg" placeholder="John" pattern="^([A-Z]|[a-z])[a-z]{1,20}$" required>
            <input type="text" name="surname" class="xlg" placeholder="Doe" pattern="^([A-Z]|[a-z])[a-z]{1,20}$" required>

            <input type="email" name="email" class="xlg span-all-cols" placeholder="Email"
                   pattern="^[a-z_\d.]{2,30}@[a-z]{2,11}\.[a-z]{2,4}$" required />

            <input type="tel" name="phone" class="xlg" placeholder="Phone Number" pattern="^[0-9]{10}$" required />


            <input type="text" name="company" class="xlg" placeholder="Company" pattern="^[a-zA-Z0-9]+$"
                   title="Alphanumeric ONLY"/>

            <select name="role" class="xxlg">
                <option selected="true" disabled="true">Role</option>
                <option value="manager">Manager</option>
                <option value="junior">Junior Developer</option>
                <option value="senior">Senior Developer</option>
            </select>

            <textarea name="description" class="xlg span-all-cols" placeholder="Description"></textarea>

            <input type="hidden" name="_csrf" value="{{csurf_token}}" />

            <div class="span-all-cols flex-spaceEvenly">
                <button class="xlg btn-electric ice">Submit</button>
                <a class="xlg btn-electric fire" href="/">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>